<div class="container">
  <%= render "share/error_message", error_message: @error_message %>
  <div class="signup-message">
    ログイン
  </div>
  <div class="user_wrapper">
    <%= form_tag("/sessions") do %>
      <p>ユーザー名　<input name="name" value="<%=@user.name %>" size="35x1" class="form"></p>
      <p>パスワード　<input type="password" name="password" value="<%=@user.password %>" size="35x1" class="form"></p>
      <input type="submit" class="signup-btn" value="ログインする">
    <% end %>
  </div>
</div>
