<div class="container">
  <div class="top_wrapper">
    <div class="top_content">


      <h2>What are you like?は、友達があなたのことをどれだけ知っているか試すクイズサービスです。</h2>
      <p>仲のいい友達も、意外と知らないあなたのこと。</p>
      <p>むかし大好きだったミュージシャンは？</p>
      <p>あなただけのお気に入りスポットは？</p>
      <p>人生で一番うれしかった思い出は？</p>
      <p>あなたのこと、もっと知ってもらいませんか？</p>

      <div class = "top-btns">
      <%=link_to "今すぐクイズを作る", {:controller => 'user', :action => 'signup_form'}, {:class => "menu-btn"}%>
      </div>

      <h1></h1>
      <h2>使い方</h2>
      <div class="img_list">
        <div class="img_num">①クイズをつくる</div>
        <p>全部で５問、クイズを作成します。</p>
        <p>問題文と4つの選択肢を記入し、正解にはマークをつけてください。</p>
      <img src="mock1.jpg" class="image1">
        <div class="img_num">②秘密の合言葉を入力する</div>
        <p>秘密の合言葉を設定してください。</p>
        <p>回答者はこの合言葉を入力することで、あなたのクイズに回答できます。</p>
      <img src="mock2.jpg" class="image2">
        <div class="img_num">③SNSにシェア！</div>
        <p>クイズが完成したら、SNSにシェアしましょう。</p>
      <img src="mock3.jpg" class="image3">
      </div>


    </div>
  </div>
  <div class="copyright">© 2018 WhatAreYouLike</div>
</div>