<div class="container">
  <%= render "share/error_message", error_message: @error_message %>
  <div class="signup-message">
    Quiz
  </div>
  <div class="show_wrapper">
    <%= form_tag("/answers") do %>
      <p>あなたの名前を入力してください。</p>
      <p><input name="answer[name]" size="53×1" class="form"></p>
      <input type="submit" class="signup-btn">
    <% end %>
  </div>
</div>
