<div class="container">
  <h1>Share Your Quiz!</h1>
  <p>SNSのフレンドにクイズを共有しませんか？</p>
  <div class="post_wrapper">
    <div class="link">
      <div class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button"
        data-url="https://whatareyoulike.herokuapp.com/show/top"
        data-via=""
        data-text="クイズに答えてみませんか？秘密の合言葉は<%=@keyword.keyword %>です"
        data-related=""
        data-count=""
        data-lang=""
        data-counturl=""
        data-hashtags=""
        data-size="large"
        >ツイート</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="facebook">
        <div class="fb-share-button" data-href="http://localhost:3000/" data-layout="button" data-size="large" data-mobile-iframe="true">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a>
        </div>
      </div>
    </div>
  </div>
</div>
