
<div class="container">
  <% if @error_message %>
    <div class="form-error">
      <p><%= @error_message %></p>
    </div>
  <% end %>
  <div class="signup-message">ログイン</div>
  <div class="user_wrapper">





    <%= form_tag("/login") do %>

  <p>ユーザー名　<input name="name" value="<%=@name %>" size="35x1" class="form"></p>
  <p>パスワード　<input type="password" name="password" value="<%=@password %>" size="35x1" class="form"></p>

  <input type="submit" class="signup-btn" value="ログインする">
<% end %>
  </div>
</div>